doctype html
html
    head
        include includes/head.pug
    body
        header
            include includes/header.pug
        nav
            include includes/nav.pug
        aside.left
            include  includes/aside.pug
        aside.right

        main
            article
                h1 Controllers
                section

            div
                .bottom_navbar
                    .back
                        a(href="controllable_car.html") &#171; back
                .bottom_navbar
                    .next
                        a(href="link.html") next &#187;

        footer
            include includes/footer.pug