//- Provides the header for the page
.top-triangle
    .triangle-topright-1
    .triangle-topright-2
    .triangle-topright-3

div
    span.main Computer vision
    span.sub -- the link between VR and the physical world
