@import '../_colors.scss';

body {
}

.page-title {
  margin: 4px 8px 8px 8px;
  font-size: 38px;
}

.article-title {
  font-size: 30px;
}

.section-title {
}

.section-subtitle {
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}