//- Pug file to create the side menu on the DLC website.
//ol
    li
        a(href="index.html") Introduction
    li
        a(href="outline.html") Outline
    li
        a(href="vision.html") Vision

        ol
            li
                a(href="vision.html#vision-camera") Camera
            li
                a(href="vision.html#vision-system") System
            li
                a(href="vision.html#vision-framework") Framework
            li
                a(href="vision.html#vision-program") Program
    li
        a(href="linefollower.html") Linefollower

        ol
            li
                a(href="linefollower.html#LF-hardware") Hardware
            li
                a(href="linefollower.html#LF-software") Software
    li
        a(href="controllable_car.html") Car

        ol
            li
                a(href="controllable_car.html#CC-prototype") Prototype
            li
                a(href="controllable_car.html#CC-hardware") Hardware
            li
                a(href="controllable_car.html#CC-software") Software
            li
                a(href="controllable_car.html#CC-oled") OLED
    li
        a(href="controllers.html") Controllers
    li
        a(href="link.html") Link

        ol
            li
                a(href="link.html#L-protocol") Protocol
            li
                a(href="link.html#L-lights") Lights
            li
                a(href="link.html#L-further") Further
    li
        a(href="makerfaire.html") Maker Faire
    li
        a(href="conclusion.html") Conclusion
    li
        a(href="extra.html") Extra

        ol
            li
                a(href="extra.html#E-PID") PID
            li
                a(href="extra.html#E-vision") Vision
            li
                a(href="extra.html#E-raspbian") Raspbian
