//- Pug file to create the side menu on the DLC website.
ol
    li
        a(href="index.html") Introduction
    li
        a(href="outline.html") Outline
    li
        a(href="vision.html") Vision

        ol
            li
                a(href="#") Camera
            li
                a(href="#") Framework
            li
                a(href="#") Program
