//- Pug file to create the side menu on the DLC website.
ol
    li
        a(href="index.html") Introduction
    li
        a(href="outline.html") Outline
    li
        a(href="requirements.html") Requirements

        ol
            li

            li

            li

