// Some tags for page management
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="author" content="Pieter-Jan Cassiman")
meta(name="description" content="My bachelor's thesis in industrial automation")
title Thesis

// Link to stylesheets and fonts
link(rel="stylesheet" type="text/css" href="assets/css/main.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Mono")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")

// Javascript
// Formula formatter
script(src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async)

// Local scripts for making the website work
script(src="./js/nav.js")
script(src="./js/modal.js")