.left-aside-card
    h1.card-title Project status
    p
        | The project is currently no longer active,
        | since our thesis has been completed

.left-aside-card.left-aside-contents
    ol
        li
            a(href="index.html") Introduction
        li
            a(href="outline.html") Outline
        li
            a(href="vision.html") Vision

            ol
                li
                    a(href="vision.html#vision-camera") Camera
                li
                    a(href="vision.html#vision-system") System
                li
                    a(href="vision.html#vision-framework") Framework
                li
                    a(href="vision.html#vision-program") Program
        li
            a(href="linefollower.html") Linefollower

            ol
                li
                    a(href="linefollower.html#lf-hardware") Hardware
                li
                    a(href="linefollower.html#lf-software") Software
        li
            a(href="controllable_car.html") Car

            ol
                li
                    a(href="controllable_car.html#cc-prototype") Prototype
                li
                    a(href="controllable_car.html#cc-hardware") Hardware
                li
                    a(href="controllable_car.html#cc-software") Software
                li
                    a(href="controllable_car.html#cc-oled") OLED
        li
            a(href="controllers.html") Controllers
        li
            a(href="link.html") Link

            ol
                li
                    a(href="link.html#l-protocol") Protocol
                li
                    a(href="link.html#l-lights") Lights
                li
                    a(href="link.html#l-further") Further
        li
            a(href="makerfaire.html") Maker Faire
        li
            a(href="conclusion.html") Conclusion
        li
            a(href="extra_pid.html") PID extra
        li
            a(href="extra_vision.html") Vision extra

            ol
                li
                    a(href="extra_vision.html#ev-analog-signals") Analog signals
                li
                    a(href="extra_vision.html#ev-threshold") Threshold
                li
                    a(href="extra_vision.html#ev-kernel-convolution") Kernel Convolution
                li
                    a(href="extra_vision.html#ev-blur") Blur
                li
                    a(href="extra_vision.html#ev-edge-detection") Edge Detection