#hamburger.hamburger(onclick="hamburgerNav()")
    #h-bar1.hamburger-bar
    #h-bar2.hamburger-bar
    #h-bar3.hamburger-bar

.top-navbar
    ul#nav-list.nav-list
        li.nav-active
            div
            a(href="https://pcassima.github.io") home
        li
            div
            a(href="https://pcassima.github.io/projects.html") projects
        li
            div
            a(href="#") tutorials
        li
            div
            a(href="https://pcassima.github.io/gallery.html") gallery
        li
            div
            a(href="https://pcassima.github.io/about.html") about
        li
            div
            a(href="https://pcassima.github.io/contact.html") contact