@import '../_colors.scss';
@import '_shadow.scss';

footer {
  width: 100%;
  margin-top: 16px;

  .footer-left {
    @include create-box-shadow;
    float: left;
    margin: 12px;
    padding: 8px;

    p {
      margin-left: 16px;
    }
    .social-bar-container {
      .social-bar {
        list-style-type: none;
        padding: 0;
        margin-left: 12px;
        overflow: hidden;

        .fab {
          padding: 4px;
          text-align: center;
          text-decoration: none;
          display: block;
          float: left;
          color: $accent2;
          font-weight: lighter;
        }

        .fab:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .footer-right {
    @include create-box-shadow;
    float: right;
    margin: 12px;
    padding: 8px;
    text-align: right;

    .badge {
      //margin-right: 24px;
    }
  }
}