doctype html
html(lang="en")
    head
        include includes/head.pug

    body
        header
            include includes/header.pug
        nav
            include includes/nav.pug

        .page
            aside.left
                include includes/header.pug
            main
                h1.page-title Controllable car
                article#cc-prototype
                    h1.article-title Prototype
                    section
                        h1.section-title Section title
                article#cc-hardware
                    h1.article-title Hardware
                    section
                        h1.section-title Section title
                article#cc-software
                    h1.article-title Software
                    section
                        h1.section-title Section title
                article#cc-oled
                    h1.article-title OLED screen
                    section
                        h1.section-title Section title
                .bottom-nav
                    .bottom-nav-left
                        .back
                            a(href="linefollower.html") &#171; back
                    .bottom-nav-right
                        .next
                            a(href="controllers.html") next &#187;

            aside.right
                include includes/right-aside.pug
        footer
            include includes/footer.pug

