doctype html
html
    head
        include includes/head.pug
    body
        header
            include includes/header.pug
        nav
            include includes/nav.pug
        aside.left
            include  includes/aside.pug
        aside.right

        main
            article
                h1 Extra
                section#E-PID
                    h2 PID
                    h3 Proportional - P
                    p $$P = K_{p} * e$$
                    h3 Integral - I
                    h3 Derivative - D
                    h3 Continuous PID
                    h3 Discrete PID
                section#E-vision
                    h2 Vision
                    h3 Images as analog signals
                    h3 Kernel convolution
                    h3 Blur
                    h4 Mean blur
                    h4 Gaussian blur
                    h3 Edge detection
                    h4 Sobel Operator
                    h4 Canny Edge Detection
                section#E-raspbian
                    h2 Raspbian - headless

            div
                .bottom_navbar
                    .back
                        a(href="conclusion.html") &#171; back
                .bottom_navbar
                    //.next
                    //    a(href="#") next &#187;

        footer
            include includes/footer.pug