doctype html
html
    head
        include includes/head.pug
    body
        header
            include includes/header.pug
        nav
            include includes/nav.pug
        aside.left
            include  includes/aside.pug

        main
            article
                section
                    h1 Thesis
                    p
                        | Our thesis was performed at the faculty of nature and technology at the HoGent
                        | [link to follow].
                        br
                        | This thesis was written to obtain the bachelor's degree in industrial automation.
                    h2 Introduction
                    p
                        | This project is a proof-of-concept to use a computer-vision system as a way of accurately
                        | positioning objects, so that they can be transferred over to a virtual environment.
                        br
                        | We worked out an example to showcase that a simple and cheap webcam can be used to accurately
                        | and repeatedly locate objects on a surface area of an A0 sized piece of paper. This is a size
                        | we found to still fit on most classroom tables, and thus perfect to use in the classroom.
                    p
                        | This virtual environment (i.e. virtual reality) is a project started by our teacher and
                        | promoter, to improve the quality of the education. More specifically the practical side
                        | of the education.
                        br
                        | This virtual reality would allow the students to program and interact with actual, industrial,
                        | machines and installations, without the usual risks and costs.
                        br
                        | If one of the students were to make a terrible mistake, and program the machine in such a way
                        | that would destroy it. Everything would be fixed by simply restarting the simulation.
                    p
                        | Currently the students learn how to program industrial machines by programming the controllers
                        | used in those machines. But all in- and outputs are substituted by switches and LEDs.
                        | In our opinion this doesn't give an accurate feeling of what an actual machines acts like.
                        br
                        | Also since the switches have to be operated manually according to the desired situation,
                        | certain scenario's can't be simulated this way. As a consequence the students miss out on
                        | an important part of their education.

        footer
            include includes/footer.pug