doctype html
html
    head
        include includes/head.pug
    body
        header
            include includes/header.pug
        nav
            include includes/nav.pug
        aside.left
            include  includes/aside.pug
        aside.right

        main
            article
                h1 Thesis
                section
                    figure.generic_photo.right_aligned
                        img(src="assets/img/concepts/minicar_concept_2.png")
                        figcaption A concept of the full stack-up of the car
                    p
                        | The official title for our thesis is:
                        br
                        b Computer Vision - the link between virtual reality and the physical world
                    p
                        | Our thesis was performed at the faculty of nature and technology at the HoGent
                        | [link to follow].
                        br
                        | This thesis was written to obtain the <em>bachelor's degree</em> in
                        | <em>industrial automation.</em>
                    p
                        | This entire project is released as <em>open-source</em> under the <b>GNU-GPL V3</b> license.
                        | All code, programs, designs and related documentation can be found on this website and on
                        | Github.
                        br
                        a(href="https://github.com/pcassima/thesis_hogent" target="_blank") Github repository
                    p
                        | As this project is focused on education and improving it. All project materials can be freely
                        | used, with disclosure of the source. If you also want to improve education, then feel free
                        | to help improve this project by contributing to the code or documentation!
                        br
                        | Editing is really easy and can be done right from the browser! Head over to
                        | <a href="https://gitpod.io/#https://github.com/pcassima/thesis_hogent" target="_blank">Gitpod</a>
                        | and start editing. Gitpod will build a system in your browser will all dependencies installed.
                        | From Gitpod you can also easily commit and push your edits out to Github.

                section
                    h2 Introduction
                    p
                        | This project is a proof-of-concept to use a computer-vision system as a way of accurately
                        | positioning objects, so that they can be transferred over to a virtual environment.
                        br
                        | We worked out an example to showcase that a simple and cheap webcam can be used to accurately
                        | and repeatedly locate objects on a surface area of an A0 sized piece of paper. This is a size
                        | we found to still fit on most classroom tables, and thus perfect to use in the classroom.
                    figure.generic_photo
                        img(src="assets/img/concepts/mainboard_concept_1.png")
                        figcaption The concept for the mainboard for the car
                    p
                        | This virtual environment (i.e. virtual reality) is a project started by our teacher and
                        | promoter, to improve the quality of the education. More specifically the practical side
                        | of the education.
                        br
                        | This virtual reality would allow the students to program and interact with actual, industrial,
                        | machines and installations, without the usual risks and costs.
                        br
                        | If one of the students were to make a terrible mistake, and program the machine in such a way
                        | that would destroy it. Everything would be fixed by simply restarting the simulation.
                    p
                        | Currently the students learn how to program industrial machines by programming the controllers
                        | used in those machines. But all in- and outputs are substituted by switches and LEDs.
                        | In our opinion this doesn't give an accurate feeling of what an actual machines acts like.
                        br
                        | Also since the switches have to be operated manually according to the desired situation,
                        | certain scenario's can't be simulated this way. As a consequence the students miss out on
                        | an important part of their education.
                    p
                        | However by virtual reality alone they would also miss a big part of their education. As they
                        | would no longer get any physical feedback on their work. Everything would just be pixels on
                        | a computer screen.
                        br
                        | As such we believe that the students still needs something physical, that they can touch and
                        | interact with. Something that they can see moving in front of them.
                    p
                        | A combination of both virtualisation and something along the lines of a scale model would be
                        | the perfect solution.
                        br
                        | But there needs to be a link between the physical world and the virtual reality. This is
                        | where the computer-vision system comes into play.
                    p
                        | After comparing and evaluating the many different techniques there are for position, we came
                        | to the conclusion that none of them are suitable for this application.
                        br
                        | Some of them are far too inaccurate (such as GPS), while others are expensive and out of
                        | budget for most schools (such as RF).

                section
                    h2 goal
                    figure.generic_photo.right_aligned
                        img(src="assets/img/concepts/minicar_concept_3.png")
                        figcaption Rear view of the concept
                    p
                        | The goal of this project as mentioned before is to show that a (lightweight)
                        | computer vision can be used to locate physical objects to transfer them over to virtual
                        | reality.
                    p
                        |

            div.bottom_bar
                .bottom_navbar
                    //.back
                    //    a(href="#") &#171; back
                .bottom_navbar
                    .next
                        a(href="outline.html") next &#187;

        footer
            include includes/footer.pug