doctype html
html(lang="en")
    head
        include includes/head.pug

    body
        header
            include includes/header.pug
        nav
            #hamburger.hamburger(onclick="hamburgerNav()")
                #h-bar1.hamburger-bar
                #h-bar2.hamburger-bar
                #h-bar3.hamburger-bar

            .top-navbar
                ul#nav-list.nav-list
                    li.nav-active
                        div
                        a(href="#") home
                    li
                        div
                        a(href="#") projects
                    li
                        div
                        a(href="#") tutorials
                    li
                        div
                        a(href="#") gallery
                    li
                        div
                        a(href="#") about
                    li
                        div
                        a(href="#") contact

        .page
            aside.left
                include includes/left-aside
            main
                h1.page-title Computer Vision
                article
                    h1.article-title The link between virtual reality and the physical world
                    section
                        h1.section-title Introduction
                    section
                        h1.section-title Goal

                .bottom-nav
                    .bottom-nav-left
                        .back
                            a(href="#") &#171; back
                    .bottom-nav-right
                        .next
                            a(href="#") next &#187;

            aside.right
                include includes/right-aside.pug
        footer
            include includes/footer.pug

