doctype html
html
    head
        include includes/head.pug
    body
        header
        nav
        aside.left
        aside.right
        main
            article
                section
                    h1 Thesis
                    p More content coming soon!
        footer