doctype html
html
    head
        include includes/head.pug
    body
        header
            include includes/header.pug
        nav
            include includes/nav.pug
        aside.left
            include  includes/aside.pug

        main
            article
                section
                    h1 Thesis
                    p More content coming soon!
        footer
            include includes/footer.pug