doctype html
html
    head
        include includes/head.pug
    body
        header
            include includes/header.pug
        nav
            include includes/nav.pug
        aside.left
            include  includes/aside.pug
        aside.right

        main
            article
                h1 Linefollower
                section#LF-hardware
                    h2 Hardware
                section#LF-software
                    h2 Software

            div
                .bottom_navbar
                    .back
                        a(href="vision.html") &#171; back
                .bottom_navbar
                    .next
                        a(href="controllable_car.html") next &#187;

        footer
            include includes/footer.pug