doctype html
html
    head
        include includes/head.pug
    body
        header
            include includes/header.pug
        nav
            include includes/nav.pug
        aside.left
            include  includes/aside.pug
        aside.right

        main
            article
                h1 Link
                section#L-protocol
                    h2 Protocol
                    h3 Pegasus
                    h3 MQTT
                    h3 Reader
                section#L-lights
                    h2 Lights
                section#L-further
                    h2 Further

            div
                .bottom_navbar
                    .back
                        a(href="controllers.html") &#171; back
                .bottom_navbar
                    .next
                        a(href="makerfaire.html") next &#187;

        footer
            include includes/footer.pug