doctype html
html(lang="en")
    head
        include includes/head.pug

    body
        header
            include includes/header.pug
        nav
            include includes/nav.pug

        .page
            aside.left
                include includes/header.pug
            main
                h1.page-title Outline
                article
                    h1.article-title Repository structure
                    section
                        h1.section-title Section title
                article
                    h1.article-title Contents
                    section
                        h1.section-title Vision
                        p
                            a(href="vision.html#vision-camera") Camera
                        p
                            a(href="vision.html#vision-system") System
                        p
                            a(href="vision.html#vision-framework") Framework
                        p
                            a(href="vision.html#vision-program") Program
                    section
                        h1.section-title Linefollower
                        p
                            a(href="linefollower.html#lf-hardware") Hardware
                        p
                            a(href="linefollower.html#lf-software") Software
                    section
                        h1.section-title Controllable car
                        p
                            a(href="controllable_car.html#cc-prototype") Prototype
                        p
                            a(href="controllable_car.html#cc-hardware") Hardware
                        p
                            a(href="controllable_car.html#cc-software") Software
                        p
                            a(href="controllable_car.html#cc-oled") OLED display
                    section
                        h1.section-title Controllers
                    section
                        h1.section-title Link
                        p
                            a(href="link.html#l-protocol") Protocol
                        p
                            a(href="link.html#l-lights") Lights
                        p
                            a(href="link.html#l-further") Further
                    section
                        h1.section-title Maker Faire
                    section
                        h1.section-title Conclusion
                    section
                        h1.section-title Extra
                        p
                            a(href="extra.html#e-pid") PID
                        p
                            a(href="extra.html#e-vision") Vision
                .bottom-nav
                    .bottom-nav-left
                        .back
                            a(href="index.html") &#171; back
                    .bottom-nav-right
                        .next
                            a(href="vision.html") next &#187;

            aside.right
                include includes/right-aside.pug
        footer
            include includes/footer.pug


