doctype html
html(lang="en")
    head
        include includes/head.pug

    body
        header
            include includes/header.pug
        nav
            include includes/nav.pug

        .page
            aside.left
                include includes/left-aside.pug
            main
                h1.page-title Outline
                article
                    h1.article-title Repository structure
                    section
                        h1.section-title Folder tree:
                        .folder-tree
                            ul
                                li.root Thesis
                                li
                                    i(class="fas fa-folder")
                                    | .github
                                li
                                    i(class="fas fa-folder")
                                    | design
                                    ul
                                        li
                                            i(class="fas fa-folder")
                                            | minicar
                                            ul
                                                li
                                                    i(class="fas fa-folder")
                                                    | electronics
                                                li
                                                    i(class="fas fa-folder")
                                                    | mechanical
                                        li
                                            i(class="fas fa-folder")
                                            | joystick
                                            ul
                                                li
                                                    i(class="fas fa-folder")
                                                    | electronics
                                li
                                    i(class="fas fa-folder")
                                    | docs
                                li
                                    i(class="fas fa-folder")
                                    | src
                                    ul
                                        li
                                            i(class="fas fa-folder")
                                            | arduino
                                            ul
                                                li
                                                    i(class="fas fa-folder")
                                                    | car
                                                li
                                                    i(class="fas fa-folder")
                                                    | display
                                                li
                                                    i(class="fas fa-folder")
                                                    | Joystick
                                                li
                                                    i(class="fas fa-folder")
                                                    | lights
                                                li
                                                    i(class="fas fa-folder")
                                                    | Linefollower
                                                li
                                                    i(class="fas fa-folder")
                                                    | reader
                                        li
                                            i(class="fas fa-folder")
                                            | python
                                            ul
                                                li
                                                    i(class="fas fa-folder")
                                                    | lib
                                                li
                                                    i(class="fab fa-python")
                                                    | main.py
                                                li
                                                    i(class="fab fa-python")
                                                    | reader.py
                                                li
                                                    i(class="fab fa-python")
                                                    | remote.py
                                li .gitignore
                                li CODE_OF_CONDUCT.md
                                li LICENSE
                                li README.md
                                li requirements.txt
                            p.caption folder structure
                        p
                            | A few files are located in the root directory of the project. These files have to do mostly
                            | with Git and the project globally.
                            | These files include the license under which the project is released, the code of conduct for
                            | for the project and how to contribute.
                        p
                            | There are two files that have to do with the project directly: <em>.gitignore</em> and
                            | <em>requirements.txt</em>. The former includes a list of all file types and folders to ignore,
                            | when updating via Git. While the latter contains a list of requirements for the Python program
                            | to work correctly.
                        p
                            | The rest of the project is located in various folders. The first one being the
                            | <em>.github</em> folder. This folder contains information and templates for contributing and
                            | filing bug-reports.
                        p
                            | The next folder is the <em>design</em> folder. Here the mechanical and electronic design files
                            | for the project can be found. In the sub-folders the minicar and joystick can be found.
                            | Each having a folder for electronic and mechanical designs (if applicable).
                        p
                            | All documentation related to the project can be found in the <em>docs</em> folder.
                            | A copy of our actual thesis (in dutch) can also be found in this folder.
                            br
                            | This folder also houses all files related to the website for this project. As many of the
                            | files have been moved to a remote location to keep the size down. Those files are not
                            | related to this project.
                        p
                            | <em>Jade</em> files have been used to built the website, these are
                            | compiled into <em>HTML</em>. As soon as the website is finished, these Jade-files will be
                            | removed as well.
                        p
                            | The last folder is arguably the most important folder; the <em>src</em> folder contains all
                            | the files that make up the actual program.
                            | Since the project was split up over multiple sub-systems (and multiple programming languages).
                            | This folder contains a sub-folder for each language used.
                        p
                            | The <em>python</em> folder contains the program responsible for the vision. As well as a few
                            | programs to debug the MQTT-protocol and -messages. Locally stored copies of required libraries
                            | are located in the <em>lib</em> sub-folder.
                article
                    h1.article-title Contents
                    section
                        h1.section-title Vision
                        p
                            a(href="vision.html#vision-camera") Camera
                        p
                            a(href="vision.html#vision-system") System
                        p
                            a(href="vision.html#vision-framework") Framework
                        p
                            a(href="vision.html#vision-program") Program
                    section
                        h1.section-title Linefollower
                        p
                            a(href="linefollower.html#lf-hardware") Hardware
                        p
                            a(href="linefollower.html#lf-software") Software
                    section
                        h1.section-title Controllable car
                        p
                            a(href="controllable_car.html#cc-prototype") Prototype
                        p
                            a(href="controllable_car.html#cc-hardware") Hardware
                        p
                            a(href="controllable_car.html#cc-software") Software
                        p
                            a(href="controllable_car.html#cc-oled") OLED display
                    section
                        h1.section-title Controllers
                    section
                        h1.section-title Link
                        p
                            a(href="link.html#l-protocol") Protocol
                        p
                            a(href="link.html#l-lights") Lights
                        p
                            a(href="link.html#l-further") Further
                    section
                        h1.section-title Maker Faire
                    section
                        h1.section-title Conclusion
                    section
                        h1.section-title Extra
                        p
                            a(href="extra_pid.html") PID
                        p
                            a(href="extra_vision.html") Vision
                .bottom-nav
                    .bottom-nav-left
                        .back
                            a(href="index.html") &#171; back
                    .bottom-nav-right
                        .next
                            a(href="vision.html") next &#187;

            aside.right
                include includes/right-aside.pug
        footer
            include includes/footer.pug


