$teal1: #20dce1;
$teal2: #18a4af;
$teal3: #16a5a9;
$teal4: #1c5555;
$pink1: #e11c84;
$pink2: #a42064;
$pink3: #700e41;

$aside_width: 140px;
$mobile_switch: 750px;

.generic_photo {

  img {
    max-width: 450px;
  }

}

.generic_photo.right_aligned {
  float: right;
  margin-left: 16px;
  margin-right: 0;
}

section {
  clear: both;
}

.bottom_bar {
  clear: both;
}

.table-container {
  width: 100%;
  height: 100%;
  table {
    margin: 0 auto;
    caption{
      caption-side: bottom;
      margin-top: 4px;
      color: $pink1;
      font-weight: bold;
    }
    tr{
      background-color: rgb(243, 163, 205);
    }
    tr.alt{
      background-color: rgb(249, 209, 230);
    }
    td, th {
      padding: 2px 6px;
      margin: 0;
      border: none;
      width: 240px;
      text-align: left;
    }

    th {
      color: white;
      background-color: $pink1;
    }
  }
}