@import 'partials/_colors';

@import 'partials/desktop/_header';
@import 'partials/desktop/_nav';
@import 'partials/desktop/_headings';
@import 'partials/desktop/_footer';
@import 'partials/desktop/_gist';
@import 'partials/desktop/_shadow';
@import 'partials/desktop/_images';

body {
  font-family: 'Roboto', sans-serif;

  p {
    margin: 8px 8px 4px 8px;
    font-size: 16px;
  }
  a {
    color: $accent2;
    font-weight: bold;
    //text-decoration: none;
  }
  b {
    color: $accent2;
  }
}

blockquote {
  //  TODO: move to dedicated partial (for general styling)
  color: $dark2;
  margin: 8px 96px;

  q {
    color: inherit;
  }

  p::before {
    content: '- ';
  }

  p {
    color: inherit;
  }
}

.formula-container {
  //  TODO: move to dedicated partial
  text-align: center;
  padding: 8px;
  margin-bottom: 4px;

  .formula {
    @include create-box-shadow;
    display: inline-block;
  }

  p.caption {
    color: #e11c84;
    font-weight: bold;
    font-size: 14px;
  }
}

.page {
  display: table;
  width: 100%;
  @import 'partials/desktop/_aside';
  @include create-box-shadow;
  padding-bottom: 16px;
  main {
    @include create-box-shadow;
    padding: 0 6px;
    display: table-cell;

    article {
      @include create-box-shadow;
      margin: 16px 8px;
      padding: 4px;

      section {
        @include create-box-shadow;
        margin: 8px;
        overflow: auto
      }
    }
    .bottom-nav {
      margin-top: 18px;
      margin-bottom: 8px;
      padding-bottom: 8px;
      display: table;
      width: 100%;

      a {
        font-size: 18px;
        font-weight: bold;
        color: $accent2;
        text-decoration: none;
      }

      .bottom-nav-left {
        display: table-cell;
        text-align: left;

        a {
          margin-left: 96px;
        }
      }

      .bottom-nav-right {
        display: table-cell;
        text-align: right;

        a {
          margin-right: 96px;
        }
      }
    }
  }
}