nav {
  background: #20dce1;
  list-style-type: none;
  overflow: hidden;
  display: block;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  background: #20dce1;
}
nav a, nav .nav_active {
  display: block;
  text-align: center;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  float: left;
  min-width: 78px;
  font-size: 22px;
  border-top: 4px solid #20dce1;
}
nav .nav_active {
  border-top-color: #e11c84;
}
nav a:hover {
  border-top-color: #e11c84;
  transition: border-top-color 400ms ease-in-out;
}
@media screen and (max-width: 750px) {
  nav {
    border-top: 4px solid #20dce1;
  }
  nav a, nav .nav_active {
    float: none;
    clear: both;
    border: none;
    text-align: left;
  }
  nav .nav_active {
    background-color: #e11c84;
  }
  nav .nav-list {
    display: none;
  }
  nav .nav-list.active {
    display: inline;
  }
  nav .hamburger {
    display: block;
    float: right;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    vertical-align: middle;
    cursor: pointer;
  }
  nav .hamburger.active #h-bar1 {
    transform: translate(0, 250%) rotate(45deg);
  }
  nav .hamburger.active #h-bar2 {
    transform-origin: 100% 50%;
    transform: scaleX(0);
  }
  nav .hamburger.active #h-bar3 {
    transform: translate(0, -250%) rotate(-45deg);
  }
  nav .hamburger-bar {
    width: 40px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: all ease-in-out 350ms;
  }
}

.gist_container {
  margin: 12px 0;
}
.gist_container .gist .gist-file {
  margin-bottom: 0;
  border: 1px solid #700e41;
  border-radius: 0;
}
.gist_container .gist .gist-data {
  border-bottom: none;
  border-radius: 0;
  background-color: #FFF;
}
.gist_container .gist .blob-wrapper {
  border-radius: 0;
}
.gist_container .gist .highlight {
  background-color: transparent;
  font-family: "Fira Code", monospace;
  font-size: 14px;
}
.gist_container .gist .highlight td {
  padding: 5px 10px !important;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
}
.gist_container .gist tr:first-child td {
  padding-top: 15px !important;
}
.gist_container .gist tr:last-child td {
  padding-bottom: 15px !important;
}
.gist_container .gist .blob-num {
  color: #FFF;
  background-color: #e11c84;
  pointer-events: none;
}
.gist_container .gist .gist-meta {
  color: #FFF;
  background-color: #a42064;
}
.gist_container .gist .gist-meta a {
  color: #FFF;
  font-weight: bold;
}

.video_container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  border: 2px solid #e11c84;
}
.video_container p {
  position: absolute;
  top: 40%;
  left: 8%;
  font-size: 32px;
}
.video_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 1;
}

.canvas_container {
  border: 2px solid #a42064;
}
.canvas_container canvas {
  display: block;
  margin: 0 auto;
  padding: 0 1%;
}
.canvas_container p {
  padding-left: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 750px) {
  body {
    font-family: "Roboto Light", sans-serif;
  }
}
body h1 {
  color: #20dce1;
  font-size: 48px;
  border-bottom: 4px solid;
  margin-top: 24px;
  margin-bottom: 12px;
  text-transform: uppercase;
}
@media screen and (max-width: 750px) {
  body h1 {
    font-size: 28px;
  }
}
body h2 {
  color: #18a4af;
  font-size: 32px;
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 8px;
}
@media screen and (max-width: 750px) {
  body h2 {
    font-size: 22px;
  }
}
body h3 {
  color: #1c5555;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 4px;
}
@media screen and (max-width: 750px) {
  body h3 {
    font-size: 20px;
  }
}
body h4 {
  color: #a42064;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 2px;
}
@media screen and (max-width: 750px) {
  body h4 {
    font-size: 16px;
  }
}
body h5 {
  color: #700e41;
  font-size: 16px;
  margin: 0;
}
body h6 {
  color: #700e41;
  font-size: 16px;
  margin: 0;
}
body p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 6px;
}
body em {
  color: #16a5a9;
}
body var {
  font-style: italic;
}
body b {
  color: #e11c84;
}
body mark {
  background-color: #20dce1;
}
body strong {
  color: #1c5555;
  font-style: italic;
  font-weight: bold;
}
body samp {
  background-color: #CCC;
  padding: 2px 4px;
  margin: 0 4px;
}
body figure {
  padding: 0;
  margin: 0 16px 16px 0;
  float: left;
}
body figure img {
  width: 100%;
  height: auto;
  max-width: 400px;
}
body figure figcaption {
  text-align: right;
  font-size: 12px;
}

header h1 {
  color: #e11c84;
  text-align: center;
  border: none;
}

aside {
  width: 140px;
  overflow: hidden;
  margin-top: 24px;
}
aside p {
  margin: 8px 4px;
}
aside a {
  color: #e11c84;
  font-weight: bold;
  text-decoration: none;
}
aside ol {
  margin-left: -10px;
}
aside ol ol {
  margin-left: -35px;
  list-style-type: lower-latin;
}

.left {
  float: left;
}
@media screen and (max-width: 890px) {
  .left {
    display: none;
  }
}

.right {
  float: right;
}
@media screen and (max-width: 1030px) {
  .right {
    display: none;
  }
}

main {
  width: auto;
  padding: 0;
  overflow: hidden;
}
main a {
  color: #e11c84;
  font-weight: bold;
  text-decoration: none;
}
main article {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
}
main section {
  clear: both;
  margin-bottom: 24px;
}
main .bottom_navbar {
  width: auto;
  margin: 2px 0;
  font-size: 18px;
}
main .back {
  float: left;
  margin-left: 12%;
  padding: 8px;
}
main .next {
  float: right;
  margin-right: 12%;
  padding: 8px;
}

pre {
  background-color: transparent;
  border: 1px solid #a42064;
  border-left: 4px solid #e11c84;
  color: #444;
  page-break-inside: avoid;
  font-size: 14px;
  margin-bottom: 1.6em;
  overflow: auto;
  padding: 1em 1.5em;
  word-wrap: break-word;
  margin-left: 4%;
  min-width: 20%;
  display: inline-block;
}
pre code {
  font-family: "Droid Sans Mono", monospace;
  font-size: 14px;
}

.fa-li {
  color: #20dce1;
}

.slider_container {
  width: 50%;
  padding-left: 16px;
  padding-bottom: 16px;
}
.slider_container input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  background: #20dce1;
  outline: none;
}
.slider_container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 24px;
  background-color: #e11c84;
  cursor: pointer;
}
.slider_container input[type=range]::-moz-range-thumb {
  width: 12px;
  height: 24px;
  background-color: #e11c84;
  cursor: pointer;
}

.contact_form {
  max-width: 800px;
  width: 100%;
  border: 2px solid #a42064;
  margin: 0 auto;
}
.contact_form form {
  margin: 16px;
}
.contact_form label {
  margin: 4px;
  padding: 4px 8px;
  background-color: #e11c84;
  color: #FFF;
}
.contact_form input[type=text], .contact_form textarea {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 2px solid #a42064;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
}
.contact_form input[type=submit] {
  background-color: #e11c84;
  text-align: right;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 20px;
}

.download {
  background-color: #e11c84;
  border: none;
  margin: 8px 0;
  color: #FFF;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.download i {
  color: #FFF;
  font-style: normal;
  margin-left: 8px;
}

.gallery_container {
  margin: 12px 0;
  display: grid;
  grid-gap: 10px;
  align-items: stretch;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 1200px) {
  .gallery_container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .gallery_container {
    grid-template-columns: 1fr;
  }
}
.gallery_container figure {
  padding: 0;
  margin: 0;
}
.gallery_container figure img {
  object-fit: cover;
  max-width: 100%;
  margin: 12px 0;
}
.gallery_container figure figcaption {
  text-align: center;
  font-size: 14px;
}

footer {
  padding-top: 24px;
  clear: both;
}
footer .footer_column {
  float: left;
  width: 50%;
}
footer p {
  margin-left: 24px;
  float: left;
  display: block;
  font-size: 12px;
  clear: both;
}
footer .badge {
  float: right;
  display: block;
  clear: both;
  margin-right: 16px;
}
footer .social_bar {
  list-style-type: none;
  padding: 0;
  margin-left: 16px;
  overflow: hidden;
  display: block;
  clear: both;
}
footer .social_bar .fab {
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: block;
  float: left;
  color: #e11c84;
  font-weight: lighter;
}
footer .social_bar .fab:hover {
  opacity: 0.7;
}

/*# sourceMappingURL=main.css.map */
