$teal1: #20dce1;
$teal2: #18a4af;
$teal3: #16a5a9;
$teal4: #1c5555;
$pink1: #e11c84;
$pink2: #a42064;
$pink3: #700e41;

$aside_width: 140px;
$mobile_switch: 750px;

@import 'partials/nav';
@import 'partials/gist';
@import 'partials/video';
@import 'partials/canvas';

body {
  font-family: 'Roboto', sans-serif;
  @media screen and (max-width: $mobile_switch) {
    font-family: "Roboto Light", sans-serif;
  }
  padding: 0;
  margin: 0;


  h1 {
    color: $teal1;
    font-size: 48px;
    border-bottom: 4px solid;
    margin-top: 24px;
    margin-bottom: 12px;
    text-transform: uppercase;
    @media screen and (max-width: $mobile_switch) {
      font-size: 28px;
    }
  }

  h2 {
    color: $teal2;
    font-size: 32px;
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 8px;
    @media screen and (max-width: $mobile_switch) {
      font-size: 22px;
    }
  }

  h3 {
    color: $teal4;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 4px;
    @media screen and (max-width: $mobile_switch) {
      font-size: 20px;
    }
  }

  h4 {
    color: $pink2;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 2px;
    @media screen and (max-width: $mobile_switch) {
      font-size: 16px;
    }
  }

  h5 {
    color: $pink3;
    font-size: 16px;
    margin: 0;
  }

  h6 {
    color: $pink3;
    font-size: 16px;
    margin: 0;
  }

  p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 6px;
  }

  em {
    //Emphasis
    color: $teal3;
  }

  var {
    //Variables, here used as emphasis with italics
    font-style: italic;

  }

  b {
    //Bold
    color: $pink1;
  }

  mark {
    //Marked text (like with a marker)
    background-color: $teal1;
  }

  strong {
    //Strong text
    color: $teal4;
    font-style: italic;
    font-weight: bold;
  }

  samp {
    //color: #FFF;
    background-color: #CCC;
    padding: 2px 4px;
    margin: 0 4px;
  }

  figure {
    padding: 0;
    margin: 0 16px 16px 0;
    float: left;

    img {
      width: 100%;
      height: auto;
      max-width: 400px;
    }

    figcaption {
      text-align: right;
      font-size: 12px;

    }
  }

}

header {
  h1 {
    color: $pink1;
    text-align: center;
    border: none;
  }
}

aside {
  width: $aside_width;
  overflow: hidden;
  margin-top: 24px;

  p {
    margin: 8px 4px;
  }

  a {
    color: $pink1;
    font-weight: bold;
    text-decoration: none;
  }

  ol {
    margin-left: -10px;

    li {

    }

    ol {
      margin-left: -35px;
      list-style-type: lower-latin;
    }

  }
}

.left {
  float: left;
  @media screen and (max-width: $mobile_switch + $aside_width) {
    display: none;
  }

}

.right {
  float: right;
  @media screen and (max-width: $mobile_switch + (2* $aside_width)) {
    display: none;
  }
}

main {
  width: auto;
  padding: 0;
  overflow: hidden;

  a {
    color: $pink1;
    font-weight: bold;
    text-decoration: none;
  }

  article {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
  }

  section {
    clear: both;
    margin-bottom: 24px;
  }

  .bottom_navbar {
    width: auto;
    margin: 2px 0;
    font-size: 18px;
  }

  .back {
    float: left;
    margin-left: 12%;
    padding: 8px;
  }

  .next {
    float: right;
    margin-right: 12%;
    padding: 8px;
  }

}

pre {
  background-color: transparent;
  border: 1px solid $pink2;
  border-left: 4px solid $pink1;
  color: #444;
  page-break-inside: avoid;
  font-size: 14px;
  margin-bottom: 1.6em;
  overflow: auto;
  padding: 1em 1.5em;
  word-wrap: break-word;
  margin-left: 4%;
  min-width: 20%;
  display: inline-block;

  code {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 14px;

  }
}

.fa-li {
  color: $teal1;
}

.slider_container {
  width: 50%;
  padding-left: 16px;
  padding-bottom: 16px;

  input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 12px;
    background: $teal1;
    outline: none;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 24px;
    background-color: $pink1;
    cursor: pointer;
  }

  input[type=range]::-moz-range-thumb {
    width: 12px;
    height: 24px;
    background-color: $pink1;
    cursor: pointer;
  }
}

.contact_form {
  max-width: 800px;
  width: 100%;
  border: 2px solid $pink2;
  margin: 0 auto;

  form {
    margin: 16px;
  }

  label {
    margin: 4px;
    padding: 4px 8px;
    background-color: $pink1;
    color: #FFF;
  }

  input[type=text], textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid $pink2;
    margin-top: 8px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: $pink1;
    text-align: right;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 20px;
  }
}

.download {
  background-color: $pink1;
  border: none;
  margin: 8px 0;
  color: #FFF;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;

  i {
    color: #FFF;
    font-style: normal;
    margin-left: 8px;
  }
}

.gallery_container {
  margin: 12px 0;
  display: grid;
  grid-gap: 10px;
  align-items: stretch;
  justify-items: center;
  // By default use 3 columns
  grid-template-columns: 1fr 1fr 1fr;

  @media screen and (max-width: 1200px) {
    // Use 2 columns on smaller screens
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 600px) {
    // Use 1 column on even smaller screens
    grid-template-columns: 1fr;
  }

  figure {
    padding: 0;
    margin: 0;

    img {
      object-fit: cover;
      max-width: 100%;
      margin: 12px 0;
    }

    figcaption {
      text-align: center;
      font-size: 14px;
    }
  }
}

footer {
  padding-top: 24px;
  clear: both;

  .footer_column {
    float: left;
    width: 50%;
  }

  p {
    margin-left: 24px;
    float: left;
    display: block;
    font-size: 12px;
    clear: both;
  }


  .badge {
    float: right;
    display: block;
    clear: both;
    margin-right: 16px;
  }

  .social_bar {
    list-style-type: none;
    padding: 0;
    margin-left: 16px;
    overflow: hidden;
    display: block;
    clear: both;

    .fab {
      padding: 4px;
      text-align: center;
      text-decoration: none;
      display: block;
      float: left;
      color: $pink1;
      font-weight: lighter;
    }

    .fab:hover {
      opacity: 0.7;
    }
  }

}
