@media screen and (max-width: 500px) {
  nav {
    box-shadow: 2px 2px 4px 0 rgba(75, 75, 75, 0.32);
    background-color: #20dce1;
    text-align: center;
    display: block;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  nav .top-navbar {
    display: inline-block;
    margin-bottom: -4px;
  }
  nav .top-navbar .nav-list {
    list-style: none;
  }
  nav .top-navbar .nav-list li {
    float: left;
    min-width: 145px;
    margin-right: 4px;
    margin-left: 4px;
  }
  nav .top-navbar .nav-list li a {
    padding-top: 4px;
    padding-bottom: 6px;
    color: white;
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
  }
  nav .top-navbar .nav-list li div {
    background-color: #e11c84;
    height: 4px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 350ms ease-in-out;
  }
  nav .top-navbar .nav-list .nav-active div {
    transform: scaleX(1);
  }
  nav .top-navbar .nav-list li:hover div {
    transform: scaleX(1);
  }
  nav .hamburger {
    display: none;
  }

  .page-title {
    color: #20dce1;
    border-left: 6px solid;
    border-bottom: 3px solid;
    padding-left: 8px;
    padding-bottom: 2px;
    margin: 4px 8px 8px 12px;
    font-size: 48px;
  }

  .article-title {
    color: #16a5a9;
    border-left: 6px solid;
    padding-left: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    font-size: 32px;
  }

  .section-title {
    color: #1c5555;
    margin-top: 6px;
    margin-bottom: 4px;
    margin-left: 8px;
    font-size: 24px;
  }

  .section-subtitle {
    color: #a42064;
    margin-top: 6px;
    margin-bottom: 4px;
    margin-left: 8px;
    font-size: 20px;
  }

  h1 {
    font-size: 40px;
    margin-left: 4px;
  }

  h2 {
    font-size: 32px;
    margin-left: 4px;
  }

  h3 {
    font-size: 24px;
    margin-left: 4px;
  }

  h4 {
    font-size: 20px;
    margin-left: 4px;
  }

  h5 {
    font-size: 18px;
    margin-left: 4px;
  }

  h6 {
    font-size: 16px;
    margin-left: 4px;
  }

  footer {
    width: 100%;
    margin-top: 16px;
  }
  footer .footer-left {
    box-shadow: 2px 2px 4px 0 rgba(75, 75, 75, 0.32);
    float: left;
    margin: 12px;
    padding: 8px;
  }
  footer .footer-left p {
    margin-left: 16px;
  }
  footer .footer-left .social-bar-container .social-bar {
    list-style-type: none;
    padding: 0;
    margin-left: 12px;
    overflow: hidden;
  }
  footer .footer-left .social-bar-container .social-bar .fab {
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    color: #e11c84;
    font-weight: lighter;
  }
  footer .footer-left .social-bar-container .social-bar .fab:hover {
    opacity: 0.7;
  }
  footer .footer-right {
    box-shadow: 2px 2px 4px 0 rgba(75, 75, 75, 0.32);
    float: right;
    margin: 12px;
    padding: 8px;
    text-align: right;
  }
  .gist-container {
    margin: 12px 12px;
    box-shadow: 2px 2px 4px 0 rgba(75, 75, 75, 0.32);
  }
  .gist-container .gist .gist-file {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
  }
  .gist-container .gist .gist-data {
    border-bottom: none;
    border-radius: 0;
    background-color: #FFF;
  }
  .gist-container .gist .blob-wrapper {
    border-radius: 0;
  }
  .gist-container .gist .highlight {
    background-color: transparent;
    font-family: "Fira Code", monospace;
    font-size: 14px;
  }
  .gist-container .gist .highlight td {
    padding: 5px 10px !important;
    line-height: 1;
    font-family: inherit;
    font-size: inherit;
  }
  .gist-container .gist tr:first-child td {
    padding-top: 15px !important;
  }
  .gist-container .gist tr:last-child td {
    padding-bottom: 15px !important;
  }
  .gist-container .gist .blob-num {
    color: #FFF;
    background-color: #e11c84;
    pointer-events: none;
  }
  .gist-container .gist .gist-meta {
    color: #FFF;
    background-color: #a42064;
    border-radius: 0;
  }
  .gist-container .gist .gist-meta a {
    color: #FFF;
    font-weight: bold;
  }

  figure {
    box-shadow: 2px 2px 4px 0 rgba(75, 75, 75, 0.32);
    padding: 8px;
    margin: 12px;
  }
  figure img {
    object-fit: cover;
    max-width: 100%;
  }
  figure figcaption {
    text-align: center;
    font-size: 14px;
  }
  figure figcaption a {
    text-decoration: none;
    font-weight: bold;
    color: #e11c84;
    cursor: pointer;
  }

  .full-width {
    width: 95%;
  }

  .half-width {
    width: 50%;
  }

  .third-width {
    width: 33%;
  }

  .quarter-width {
    width: 25%;
  }

  .center-aligned {
    margin: 12px auto;
  }

  .right-aligned {
    float: right;
  }

  .left-aligned {
    float: left;
  }

  blockquote {
    margin: 8px 16px;
  }

  .page aside.left {
    display: none;
  }
  .page aside.right {
    text-align: center;
  }
  .page aside.right .right-aside-card {
    margin: 4px auto;
    width: 75%;
    overflow: auto;
  }
  .page aside.right .right-aside-card > * {
    text-align: left;
    margin-left: 4px;
  }
}

/*# sourceMappingURL=mobile.css.map */
